Projects/Framework/Tutorial/HrCrudMobile/ViewController/mobile/EmployeesViewSDO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" xmlns:sdoJava="commonj.sdo/java" sdoJava:package="oracle.ateam.hr.soapdemo.model.common" targetNamespace="/oracle/ateam/hr/soapdemo/model/common/" xmlns="/oracle/ateam/hr/soapdemo/model/common/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
  <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
  <xsd:complexType name="EmployeesViewSDO">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>EmployeeId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="EmployeeId" sdoXML:dataType="sdoJava:IntObject" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Email" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PhoneNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="HireDate" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="JobId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Salary" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CommissionPct" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="ManagerId" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="DepartmentId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="employeesViewSDO" type="EmployeesViewSDO"/>
</xsd:schema>