Projects/Framework/Tutorial/HrCrudMobile/ViewController/mobile/HRServiceService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema elementFormDefault="qualified" targetNamespace="/oracle/ateam/hr/soapdemo/model/common/types/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="/oracle/ateam/hr/soapdemo/model/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="/oracle/ateam/hr/soapdemo/model/common/types/">
  <import namespace="/oracle/ateam/hr/soapdemo/model/common/" schemaLocation="DepartmentsViewSDO.xsd"/>
  <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <import namespace="/oracle/ateam/hr/soapdemo/model/common/" schemaLocation="RegionsViewSDO.xsd"/>
  <element name="createDepartments">
    <complexType>
      <sequence>
        <element name="departments" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createDepartmentsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateDepartments">
    <complexType>
      <sequence>
        <element name="departments" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateDepartmentsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteDepartments">
    <complexType>
      <sequence>
        <element name="departments" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteDepartmentsResponse">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="mergeDepartments">
    <complexType>
      <sequence>
        <element name="departments" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeDepartmentsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findDepartments">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findDepartmentsResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="getDepartments">
    <complexType>
      <sequence>
        <element name="departmentId" type="int"/>
      </sequence>
    </complexType>
  </element>
  <element name="getDepartmentsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="getRegionsView1">
    <complexType>
      <sequence>
        <element name="regionId" type="decimal"/>
      </sequence>
    </complexType>
  </element>
  <element name="getRegionsView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createRegionsView1">
    <complexType>
      <sequence>
        <element name="regionsView1" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createRegionsView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateRegionsView1">
    <complexType>
      <sequence>
        <element name="regionsView1" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="updateRegionsView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteRegionsView1">
    <complexType>
      <sequence>
        <element name="regionsView1" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="deleteRegionsView1Response">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="mergeRegionsView1">
    <complexType>
      <sequence>
        <element name="regionsView1" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="mergeRegionsView1Response">
    <complexType>
      <sequence>
        <element name="result" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findRegionsView1">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findRegionsView1Response">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:RegionsViewSDO"/>
      </sequence>
    </complexType>
  </element>
</schema>