Projects/Framework/Tutorial/HrCrudMobile/ViewController/mobile/HRServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="HRServiceService" targetNamespace="/oracle/ateam/hr/soapdemo/model/common/" xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="/oracle/ateam/hr/soapdemo/model/common/" xmlns:types="/oracle/ateam/hr/soapdemo/model/common/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
              xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
              wsu:Id="fast_infoset_service_policy">
    <wsOptfiser:OptimizedFastInfosetSerialization enabled="true"
                                                  xmlns:wsOptfiser="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"/>
  </wsp:Policy>
  <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.wsdl"/>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="/oracle/ateam/hr/soapdemo/model/common/types/" schemaLocation="HRServiceService.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="HRServiceService_createDepartments">
    <wsdl:part name="parameters" element="types:createDepartments"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_createDepartmentsResponse">
    <wsdl:part name="parameters" element="types:createDepartmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_updateDepartments">
    <wsdl:part name="parameters" element="types:updateDepartments"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_updateDepartmentsResponse">
    <wsdl:part name="parameters" element="types:updateDepartmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_deleteDepartments">
    <wsdl:part name="parameters" element="types:deleteDepartments"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_deleteDepartmentsResponse">
    <wsdl:part name="parameters" element="types:deleteDepartmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_mergeDepartments">
    <wsdl:part name="parameters" element="types:mergeDepartments"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_mergeDepartmentsResponse">
    <wsdl:part name="parameters" element="types:mergeDepartmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_findDepartments">
    <wsdl:part name="parameters" element="types:findDepartments"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_findDepartmentsResponse">
    <wsdl:part name="parameters" element="types:findDepartmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_getDepartments">
    <wsdl:part name="parameters" element="types:getDepartments"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_getDepartmentsResponse">
    <wsdl:part name="parameters" element="types:getDepartmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_getRegionsView1">
    <wsdl:part name="parameters" element="types:getRegionsView1"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_getRegionsView1Response">
    <wsdl:part name="parameters" element="types:getRegionsView1Response"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_createRegionsView1">
    <wsdl:part name="parameters" element="types:createRegionsView1"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_createRegionsView1Response">
    <wsdl:part name="parameters" element="types:createRegionsView1Response"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_updateRegionsView1">
    <wsdl:part name="parameters" element="types:updateRegionsView1"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_updateRegionsView1Response">
    <wsdl:part name="parameters" element="types:updateRegionsView1Response"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_deleteRegionsView1">
    <wsdl:part name="parameters" element="types:deleteRegionsView1"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_deleteRegionsView1Response">
    <wsdl:part name="parameters" element="types:deleteRegionsView1Response"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_mergeRegionsView1">
    <wsdl:part name="parameters" element="types:mergeRegionsView1"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_mergeRegionsView1Response">
    <wsdl:part name="parameters" element="types:mergeRegionsView1Response"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_findRegionsView1">
    <wsdl:part name="parameters" element="types:findRegionsView1"/>
  </wsdl:message>
  <wsdl:message name="HRServiceService_findRegionsView1Response">
    <wsdl:part name="parameters" element="types:findRegionsView1Response"/>
  </wsdl:message>
  <wsdl:portType name="HRServiceService">
    <wsdl:documentation>
      <ViewInstance CreateOpName="createDepartments" DeleteOpName="deleteDepartments" FindOpName="findDepartments" GetOpName="getDepartments" MergeOpName="mergeDepartments" Name="Departments" SDOName="tns:DepartmentsViewSDO" UpdateOpName="updateDepartments" xmlns="http://xmlns.oracle.com/adf/svc/metadata/"/>
      <ViewInstance CreateOpName="createRegionsView1" DeleteOpName="deleteRegionsView1" FindOpName="findRegionsView1" GetOpName="getRegionsView1" MergeOpName="mergeRegionsView1" Name="RegionsView1" SDOName="tns:RegionsViewSDO" UpdateOpName="updateRegionsView1" xmlns="http://xmlns.oracle.com/adf/svc/metadata/"/>
    </wsdl:documentation>
    <wsdl:operation name="createDepartments">
      <wsdl:input message="tns:HRServiceService_createDepartments"/>
      <wsdl:output message="tns:HRServiceService_createDepartmentsResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateDepartments">
      <wsdl:input message="tns:HRServiceService_updateDepartments"/>
      <wsdl:output message="tns:HRServiceService_updateDepartmentsResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartments">
      <wsdl:input message="tns:HRServiceService_deleteDepartments"/>
      <wsdl:output message="tns:HRServiceService_deleteDepartmentsResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="mergeDepartments">
      <wsdl:input message="tns:HRServiceService_mergeDepartments"/>
      <wsdl:output message="tns:HRServiceService_mergeDepartmentsResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="findDepartments">
      <wsdl:input message="tns:HRServiceService_findDepartments"/>
      <wsdl:output message="tns:HRServiceService_findDepartmentsResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getDepartments">
      <wsdl:input message="tns:HRServiceService_getDepartments"/>
      <wsdl:output message="tns:HRServiceService_getDepartmentsResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getRegionsView1">
      <wsdl:input message="tns:HRServiceService_getRegionsView1"/>
      <wsdl:output message="tns:HRServiceService_getRegionsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="createRegionsView1">
      <wsdl:input message="tns:HRServiceService_createRegionsView1"/>
      <wsdl:output message="tns:HRServiceService_createRegionsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateRegionsView1">
      <wsdl:input message="tns:HRServiceService_updateRegionsView1"/>
      <wsdl:output message="tns:HRServiceService_updateRegionsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteRegionsView1">
      <wsdl:input message="tns:HRServiceService_deleteRegionsView1"/>
      <wsdl:output message="tns:HRServiceService_deleteRegionsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="mergeRegionsView1">
      <wsdl:input message="tns:HRServiceService_mergeRegionsView1"/>
      <wsdl:output message="tns:HRServiceService_mergeRegionsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="findRegionsView1">
      <wsdl:input message="tns:HRServiceService_findRegionsView1"/>
      <wsdl:output message="tns:HRServiceService_findRegionsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HRServiceServiceSoapHttp" type="tns:HRServiceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#fast_infoset_service_policy"
                         wsdl:required="false"/>
    <wsdl:operation name="createDepartments">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/createDepartments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDepartments">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/updateDepartments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartments">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/deleteDepartments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mergeDepartments">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/mergeDepartments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findDepartments">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/findDepartments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDepartments">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/getDepartments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRegionsView1">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/getRegionsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRegionsView1">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/createRegionsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRegionsView1">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/updateRegionsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteRegionsView1">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/deleteRegionsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mergeRegionsView1">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/mergeRegionsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findRegionsView1">
      <soap:operation soapAction="/oracle/ateam/hr/soapdemo/model/common/findRegionsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HRServiceService">
    <wsdl:port name="HRServiceServiceSoapHttpPort" binding="tns:HRServiceServiceSoapHttp">
      <soap:address location="http://localhost:7101/HrCrudMobile-ViewController-context-root/HRSoapServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>